@font-face {
    font-family: 'MontserratLight';
    font-size: inherit;
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.woff2) format('woff2'),
        url(../fonts/Montserrat-Light.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratMedium';
    font-size: inherit;
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2'),
        url(../fonts/Montserrat-Medium.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratExtraBold';
    font-size: inherit;
    font-weight: 800;
    src: url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'),
        url(../fonts/Montserrat-ExtraBold.woff) format('woff');
    font-style: normal;
    font-display: swap;
}