$text: #ffffff;
$text2: #000;
$h2l: #142c6d;
$h2d: #9dccdc;
$textFixed: #ffffff;
$text2Fixed: #000;
$h2lFixed: #142c6d;
$h2dFixed: #9dccdc;

%name {
    text-align: center;
    font-size: 24px;
    color: #3ec598;
    background-color: #a9faef;
}